<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Formação</title>
  </head>
  <body>
    <main class="main_items">
      <nav>
        <a class="link_logo" href="/">
          <span class="logo-name">L</span>
          <span class="logo-name">u</span>
          <span class="logo-name">p</span>
          <span class="logo-name">e</span>
          <span class="logo-name">s</span>
          <span class="logo-name">i</span>
        </a>

        <div class="nav_links">
          <a href="/">Home</a>
          <a href="/templates/sobreMim.html">Sobre</a>
          <a href="/templates/habilidades.html">Habilidades</a>

          <a href="/templates/formacao.html">Formação</a>
          <a href="/assets/Lucas Silva e Pereira.pdf" download>Resume</a>
        </div>
      </nav>

      <section class="section_content">
        <h2 class="titulo_secao">
          <p>../education</p>
          Formação
          <span>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 10c1.151 0 2-.848 2-2s-.849-2-2-2c-1.15 0-2 .848-2 2s.85 2 2 2zm0 1c-2.209 0-4 1.612-4 3.6v.386h8V14.6c0-1.988-1.791-3.6-4-3.6z"
              ></path>
              <path
                d="M19 2H5c-1.103 0-2 .897-2 2v13c0 1.103.897 2 2 2h4l3 3 3-3h4c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zm-5 15-2 2-2-2H5V4h14l.002 13H14z"
              ></path>
            </svg>
            Education
          </span>
        </h2>

        <div>
          <h1>Técnico em Desenvolvimento de Sistema</h1>
          <h2>Pela Etec Professora Ilza Nascimento Pintus</h2>
          <h3>Jan/2022 - Dez/2024</h3>
        </div>
        <div>
          <h1>Análise e Desenvolvimento de Sistemas</h1>
          <h2>Pela Fatec Professor Jessen Vidal</h2>
          <h3>Fev/2025 - Dez/2027</h3>
        </div>
      </section>
    </main>
  </body>
</html>
