<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Formação</title>
  </head>
  <body>
    <section class="formacao">
      <div>
        <h1>Técnico em Desenvolvimento de Sistema</h1>
        <h2>Pela Etec Professora Ilza Nascimento Pintus</h2>
        <h3>Jan/2022 - Dez/2024</h3>
      </div>

      <div>
        <h1>Análise e Desenvolvimento de Sistemas</h1>
        <h2>Pela Fatec Professor Jessen Vidal</h2>
        <h3>Fev/2025 - Dez/2027</h3>
      </div>
    </section>
  </body>
</html>
