<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Habilidades</title>
  </head>
  <body>
    <section class="habilidades">
      <div class="soft-skills">
        <ul>
          <li>Paixão por criar</li>
          <li>Facilidade para compartilhar opniões ou ideias</li>
          <li>Facilidade de Aprendizado</li>
          <li>Proatividade</li>
          <li>Resiliência para a dissolução de imprevisibilidades</li>
          <li>Ótimo no trabalho em equipe</li>
        </ul>
      </div>
      <div class="hard-skills">
        <ul>
          <li>HTML5 - Avançado</li>
          <li>CSS3 - Intermediário</li>
          <li>JavaScript - Intermediário</li>
          <li>NodeJS - Básico</li>
          <li>PHP - Intermediário</li>
        </ul>
      </div>
    </section>
  </body>
</html>
