<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Sobre Mim</title>
  </head>
  <body>
    <section class="sobre_min">
      <h1>Quem é o Lucas?</h1>
      <p>
        Sou um aspirante a desenvolvedor que adora se desafiar e procurar novas
        habilidades, meu foco sempre foi o Front-End e suas tecnologias,
        atualmente tenho focado mais no parte do Back-End. Estudei através de
        uma escola técnica, a Etec Ilza Nascimento Pintos, e cursos na Alura,
        atualmente estou cursando o primeiro semestre de Analise e
        Desenvolvimento de Sistema
      </p>
    </section>
  </body>
</html>
