.content-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img text"
    "img text";

  justify-content: center;
  align-content: center;
  width: 55%;
  padding: 2vw;
  margin-top: 10vw;
}

.about-image {
  grid-area: img;
  justify-self: center;
  align-self: center;
}

.octoLupesi {
  width: 100%;
}

.about-info {
  grid-area: text;
  margin: 0 10px;
}

.about-text {
  margin-bottom: max(1vw, 20px);
}

.about-text h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: var(--branco-baunilha);
}

.about-text p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.about-actions {
  display: flex;
  flex-wrap: wrap;
  gap: max(0.5vw, 20px);
}

.about-actions .button-contato {
  padding: 10px;
  background-color: var(--branco-baunilha);
  border-radius: 5px;
  color: var(--azul-escuro-2);
}

.about-actions .button-contato:hover {
  background-color: var(--branco-baunilha-hover);
}

.about-actions .button-ler-mais {
  display: inline-flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: 500;
}

.about-actions .button-ler-mais svg {
  content: "";
  display: inline-block;
  background: url(/assets/arrow-right.svg) no-repeat;
  background-size: contain;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.about-actions .button-ler-mais:hover > svg,
.about-actions .button-ler-mais:hover > svg path {
  stroke: #007bff;
}

@media screen and (max-width: 1272px) {
  .content-about {
    grid-template-areas:
      "img img"
      "text text";
  }
}
