.content-education {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  gap: 2vw;
  width: 60%;
  margin-top: 5rem;
}

.education-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: max(1vh, 5px);

  position: relative;
  overflow: hidden;

  max-width: 500px;
  width: 55vw;
  height: 100%;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
}

.education-card:hover {
  transform: scale(1.1);
}

.education-card span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 5rem;
  height: 40rem;
  z-index: -1;

  animation: giraBorda 4s linear 0s infinite normal none running;
  background-color: var(--branco-baunilha);
}

.education-card span::after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 10px;
  background-color: var(--azul-escuro-2);
  z-index: -1;
}

@keyframes giraBorda {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
