/* Sobre Mim */

.main_items {
  background-size: 100%;
  grid-template-rows: auto 100%;
  justify-items: center;
  overflow-x: hidden;
}

.section_content {
  align-self: start;
  margin-top: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1rem;

  width: 55%;
}

.titulo_secao {
  grid-column: 1 / -1;
  position: relative;
  padding-top: 2.1rem;
  margin-bottom: 3rem;

  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  color: var(--branco-baunilha);

  z-index: 1;
}

.titulo_secao p {
  position: absolute;
  top: -1.5rem;

  font-size: 1.2rem;
  line-height: 1.25rem;
}

.titulo_secao span {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  position: absolute;
  top: -0.8rem;
  left: 50%;
  right: 50%;

  font-size: 4.5rem;
  font-weight: 800;
  color: var(--branco);

  opacity: 0.4;
  z-index: -1;
}

.info_sobre {
  justify-self: start;
}

.info_sobre > img {
  display: block;
  margin: auto;
  margin-bottom: 24px;
  border-radius: 20px;

  max-width: 80%;
}

.links_sobreMim ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  border-top: solid 2px var(--branco-baunilha);
  border-bottom: solid 2px var(--branco-baunilha);
  list-style: none;

  padding: 32px 0;
}

.link_item_lista {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 24px;
  font-size: 1.2rem;

  transition: color 250ms;
}

.item_whatsapp {
  padding-bottom: 1.5rem;
}

.item_email {
  padding-top: 32px;
  border-top: solid 2px var(--branco-baunilha);
}

.link_item_lista:hover {
  color: var(--azul-claro);
}

.content_sobre {
  justify-self: flex-end;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
