@import url(homePage.css);
@import url(about.css);
@import url(skills.css);
@import url(education.css);
@import url(project.css);
@import url(sobre_mim.css);
@import url(footer.css);

:root {
  --branco: white;
  --branco-baunilha: #ffdca8;
  --branco-baunilha-hover: #c2a882;
  --branco-baunilha-2: blanchedalmond;
  --azul-escuro: #2d3c6b;
  --azul-escuro-2: #1d2744;
  --azul-claro: #5ab2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: linear-gradient(
    45deg,
    rgb(26, 28, 51),
    #262f4b,
    rgb(40, 42, 75)
  );
  background-repeat: no-repeat;
  color: var(--branco);
}

a {
  color: var(--branco);
  text-decoration: none;
}

span {
  display: inline-block;
}

header,
main {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;

  position: relative;
  min-height: 100vh;
}

header {
  grid-template-rows: 10vh auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  height: 5vh;
  margin: 15px;
  padding-bottom: 5px;

  font-weight: 700;
  border-bottom: solid 1px var(--branco-baunilha);
}

.link_logo {
  display: flex;
  align-items: center;
}

.letra-hover {
  cursor: pointer;
  font-size: 1.2rem;
  transition: 400ms;
}

.letra-hover:hover {
  transform: translateY(-0.3rem);
  color: var(--azul-claro);
}

.nav_links a {
  position: relative;
  font-size: max(18px, 0.5vw);
  margin-left: 10px;
}

/* .nav_links a > span::before {
  content: "";

  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;

  width: 100%;
  height: 2px;

  background-color: black;
  border-radius: 0px 0px 4px 4px;

  opacity: 0;
  visibility: hidden;
  transform-origin: left center;
  transform: scaleX(0);
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav_links a:hover > span::before {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
} */

.underline-animate {
  padding-bottom: 5px;
  background-image: linear-gradient(var(--azul-claro));
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: left bottom;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.underline-animate:hover {
  color: #5ab2ff;
  background-size: 100% 2px;
}

.titulo_secao {
  grid-column: 1 / -1;
  position: relative;
  padding-top: 2.1rem;
  margin-bottom: 3rem;

  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  color: var(--branco-baunilha);

  z-index: 1;
}

.titulo_secao p {
  position: absolute;
  top: -1.5rem;

  font-size: 1.2rem;
  line-height: 1.25rem;
}

.titulo_secao span {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  position: absolute;
  top: -0.8rem;
  left: 50%;
  right: 50%;

  font-size: 4.5rem;
  font-weight: 800;
  color: var(--branco);

  opacity: 0.4;
  z-index: -1;
}

.card-template {
  background-color: var(--azul-escuro-2);
  border-radius: 5px;
  box-shadow: -1px 1px 34px 11px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: -1px 1px 34px 11px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -1px 1px 34px 11px rgba(0, 0, 0, 0.54);
}
