@import url(sobre_mim.css);

:root {
  --branco: white;
  --branco-baunilha: blanchedalmond;
  --azul-escuro: #2d3c6b;
  --azul-escuro-2: #1d2744;
  --azul-claro: #5ab2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
}

body {
  background-image: linear-gradient(45deg, black, #2d3c6b, rgb(40, 42, 75));
  background-repeat: no-repeat;
  color: var(--branco);
  font-family: Poppins, sans-serif;
}

a {
  color: var(--branco);
  text-decoration: none;
}

span {
  display: inline-block;
}

header, main {
  display: grid;
  grid-template-rows: auto 90vh;
  justify-items: center;
  align-items: center;
  overflow-x: hidden;

  position: relative;
  min-height: 100vh;
}

.typing_text {
  border: 5px solid var(--branco);
  padding: 10px 50px;
  margin: 50px;
  margin-top: -5vh;
  z-index: 999;

  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: max(60px, 4vw);
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  margin-bottom: 2px;
  animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}

.waves, .waves_main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.waves_main{
  top:0;
  transform: rotate(180deg);
}

.wave-1 {
  animation: waveMove-1 3s ease-in-out infinite alternate;
}

@keyframes waveMove-1 {
  from {
    transform: scaleX(1.5);
  }
}

.wave-2 {
  animation: waveMove-2 3s ease-in-out infinite alternate;
}

@keyframes waveMove-2 {
  from {
    transform: scaleX(2);
  }
}

.wave-3 {
  animation: waveMove-3 3s ease-in-out infinite alternate;
}

@keyframes waveMove-3 {
  from {
    transform: scaleX(2.15);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  height: 5vh;
  margin: 15px;
  padding-bottom: 5px;

  font-weight: 700;
  border-bottom: solid 1px var(--branco-baunilha);
}

.link_logo {
  display: flex;
  align-items: center;
}

.logo-name {
  font-size: 1.2rem;
  transition: 400ms;
}

.logo-name:hover {
  transform: translateY(-0.3rem);
  color: var(--azul-claro);
}

.nav_links a {
  position: relative;
  font-size: max(18px, 0.5vw);
  margin-left: 10px;
}

/* .nav_links a > span::before {
  content: "";

  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;

  width: 100%;
  height: 2px;

  background-color: black;
  border-radius: 0px 0px 4px 4px;

  opacity: 0;
  visibility: hidden;
  transform-origin: left center;
  transform: scaleX(0);
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav_links a:hover > span::before {
  opacity: 1;
  visibility: visible;
  transform: scaleX(1);
} */

.nav_links a {
  padding-bottom: 5px;
  background-image: linear-gradient(var(--azul-claro));
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: left bottom;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav_links a:hover {
  color: #5ab2ff;
  background-size: 100% 2px;
}

.js-icon{
  position: absolute;
  right: 0;
  width: 100%;

}

.js-icon span{
  position: absolute;
  right: 100px;
}

.icon{
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.card{
  padding: 10px;
  background-color: var(--azul-escuro-2);
  border: solid 2px blue;
  border-radius: 10px;
}

.card span{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
